# Test binaries in the pit
beer
bubble
change
fft
flonck
guess
hail_mary
icat
iching1
iching2
ins
interfunge
lib/lib2
lib/numio
lib/plus
lib/syslib
lib/syslib3
lib/syslib4
lib/syslib5
lib/syslib6
lib/syslib7
life
life2
pass
pi
pow
primes
quine
random
random2
rot13
rot13b
sample
sort
tests/ais1
tests/ais2
tests/compucome
tests/count
tests/hello
tests/ignorret
tests/ignorearray
tests/iogerunds
tests/limits
tests/limits3
tests/onceagain
tests/permute
tests/sink
tests/test1
tests/test16bit
tests/test2
tests/testarray
tests/testcf
tests/testcreate
tests/testlib2
tests/testonce
tests/testops3
tests/testops5
tests/testsplat
tests/whileadd
tpk
unlambda
yapp
