*.o
*.a
*~
Makefile
autom4te.cache/
config.h
config.log
config.status
stamp-h1
.deps
# Uploading the web page lands a copy here
index.html
# Executables produced by standard build
bin2c
convickt
ick
oil
# C source files and includes in the top directory were copied there, ignore
*.[chyl]
# So were any copies of the INTERCAL libraries and buld cruft we might find here
syslib.i
syslib3.3i
syslib4.4i
syslib5.5i
syslib6.6i
syslib7.7i
floatlib.i
coopt.sh
host.mak
# Other generated stuff
doc/*info*
doc/*.htm
doc/*.ps
doc/*.odt
oilout*.c
# Test binaries in the pit
pit/beer
pit/bubble
pit/change
pit/fft
pit/flonck
pit/guess
pit/hail_mary
pit/icat
pit/iching1
pit/iching2
pit/ins
pit/interfunge
pit/lib/lib2
pit/lib/numio
pit/lib/plus
pit/lib/syslib
pit/lib/syslib3
pit/lib/syslib4
pit/lib/syslib5
pit/lib/syslib6
pit/lib/syslib7
pit/life
pit/life2
pit/pass
pit/pi
pit/pow
pit/primes
pit/quine
pit/random
pit/random2
pit/rot13
pit/rot13b
pit/sample
pit/sort
pit/tests/count
pit/tests/hello
pit/tests/ignorret
pit/tests/iogerunds
pit/tests/limits
pit/tests/limits3
pit/tests/onceagain
pit/tests/permute
pit/tests/sink
pit/tests/test1
pit/tests/test16bit
pit/tests/test2
pit/tests/testarray
pit/tests/testcf
pit/tests/testcreate
pit/tests/testlib2
pit/tests/testonce
pit/tests/testops3
pit/tests/testops5
pit/tests/testsplat
pit/tests/whileadd
pit/tpk
pit/unlambda
pit/yapp
