
/* Custom styles for the C-INTERCAL manual. These are partly for a
   small amount of beautification, but mostly to work around the
   ugliness of the default stylesheet on at least one compiler. This
   stylesheet is public domain from this comment onwards. */

  body               {text-align:justify;
                      font-family:serif;
                      background-color:#FFFFFF;
                      color:#000000;}
  pre                {margin:0.5em 3em 0.5em 3em;
                      background-color:#F8F8F8;
                      border:1px solid #CCCCCC;}
  pre.smallexample   {font-size:75%;}
  p                  {margin:0.5em 0em 0.5em 0em;}
  li                 {margin:0.5em 0em 0.5em 0em;}
  ul.menu li         {margin:0em 0em 0em 0em;}
  ul.index-cp li     {margin:0em 0em 0em 0em;}
  div.contents ul li {margin:0em 0em 0em 0em;}
  blockquote         {margin:0.5em 3em 0.5em 3em;}
  dt                 {margin:0em 0em 0em 0em; font-weight:bold;}
  dd                 {margin:0.5em 0em 1em 3em;}
  code               {background-color:#F8F8F8;}
  tt                 {background-color:#F8F8F8;}
  samp               {background-color:#F8F8F8;}
  table              {border:1px solid #666666; background-color:#CCCCCC;}
  td                 {border:1px solid #666666; background-color:#FFFFFF;}
